body{
  font-family: Serif, Tahoma, Verdana, sans-serif;
  text-align: center;
  margin: auto;
}
span{
  height: 100px;
  width: 100px;
  margin: auto;
}
table{
  margin: auto;
  border: black 3px;
  color:black;
}
